.header {
    .nav {
        display: flex;
        justify-content: right;
        background-color: teal;
        color: wheat;
        font-size: 1.3rem;
        & ul > li{
            display: inline-block;
            margin: 5px;
            text-decoration: none;
        }
    }
    h1 {
        text-align: center;
        color: wheat;
    }
}